/* 
    Document   : mrmaid
    Created on : 08-Jun-2011, 15:45:59
    Author     : Jun Fan@cranfield
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/*#resultTable { width: 750px }

#resultTable td {
    width: 145px;
    height: 90px;
}*/

.lightBlue { background-color: #c3e3e0}

.Blue { background-color: #0000FF }

.white { background-color: #fff }

.header {
    background-color: #81BEF7;
    height: 30px;
}

a {
/*    color:  inherit;*/
    text-decoration: none;
}

a:hover { text-decoration: underline}

#header{
/*    float: left;*/
}

.title{
    float: left;
    font-size: xx-large;
}
/* footer styles */
#footer {
    height: 60px;
    width: 350px;
    clear: left;
}

#footerText { margin-top: 5px }

#footerDivider {
    margin: 0 5px;
    width: 600px;
}

.tableHeader {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(./images/bg_header.jpg) no-repeat;
}
.tableSubHeader {
	font:  12px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA  url(./images/bg_header.jpg) no-repeat;
}
.filterMenu {
	font:  12px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA   no-repeat;
}
.rowOdd {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.rowEven {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}
 .rollOverRow {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #dddddd;
	font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}
.reallySmallText { font-size: x-small }