/* 
    Document   : mrmaid_new
    Created on : 25-Aug-2011, 19:28:25
    Author     : fadox
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


body {
    margin: 0;
    padding: 0;
    background: #FFFFFF url(../images/cranfield_logo.jpg) no-repeat right top  ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #3B3B3B;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #000000;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration:underline;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 0;
    background: url(../images/img0101.png) no-repeat left top;
}

/* Header */

#header {
    clear: both;
    width: 980px;
    height: 200px;

    padding: 0px;
}

/* Logo */

#logo {
    margin: 0px auto;
    padding: 80px 0px 0px 0px;
    color: #000000;
}

#logo h1, #logo p {
    text-align: center;
    padding-left:60px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#logo h1 {
    font-size: 72px;
}

#logo span {
    color: #38445D;
}

#logo p {
    margin: -20px 0px 0px 0px;
    padding: 0px;
    letter-spacing: -1px;
    font-style: italic;
    font-size: 32px;
} 

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #434E67;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
    background: #65B23E;
    border-bottom: 4px solid #FFFFFF;
}

#search form {
    height: 41px;
    margin: 0;
    padding: 10px 0 0 20px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: none;
    background: #FFFFFF;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit {
    width: 50px;
    height: 22px;
    border: none;
    background: #FF6F26;
    font-weight: bold;
    color: #FFFFFF;
}

/* Menu */

#menu {
    width: 980px;
    height: 80px;
    margin: 0 ;
    padding-right:0;
}

#menu ul {
    float: center;
    margin: 0;
    margin-left:60px;
    padding: 80px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    width: 98px;
    height: 37px;
    margin-right: 5px;
    padding: 12px 0px 0px 0px;
    background: url(../images/img02.jpg) no-repeat left top;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    background: url(../images/img03.jpg) no-repeat left top;
}

#menu .current_page_item a {
}

/* Page */

#page {
    width: auto;
    margin: 0 auto;
    padding: 0px 0px 0px 20px;

}

#page-bgtop {
    padding: 20px 0px;
}

#page-bgbtm {
}

/* Content */

#content {
    float: center;
    width: 580px;
    margin-top: 30px;
    padding: 0px 0px 0px 0px;
    background: url(../images/img04.gif) repeat-y left top;
}

.post {
    width: 580px;
    margin: auto;
    margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
    height: 38px;
    margin-bottom: 10px;
    padding: 12px 0 10px 60px;
    background: url(../images/img06.jpg) no-repeat left 5px;
    letter-spacing: -2px;
    text-transform: lowercase;
    font-size: 46px;
    color: #4D618D;
}

.post .title a {
    color: #4D618D;
    border: none;
}

.post .meta {
    margin-bottom: 30px;
    padding: 5px 0px 15px 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .meta a {
}

.post .entry {
    padding: 0px 0px 20px 0px;
    padding-bottom: 20px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 280px;
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    margin: 0px 30px;
    border-left: none;
}

#sidebar li li a {
    padding-left: 10px;
    background: url(../images/img03.gif) no-repeat left 5px;
    color: #464646;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar h2 {
    height: 38px;
    padding-left: 30px;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #359F00;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.addthis {
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}
#footer p {
    margin: 0;
    padding-top: 20px;
    line-height: normal;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #A0A0A0;
}

#footer a {
    color: #8A8A8A;
}

.tableHeader {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    text-align: center;
    word-wrap: break-word;
    color: #6D929B;
    border-left: 2px solid #C1DAD7;
    border-right: 2px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 6px 6px 6px 12px;
    background: #CAE8EA ;
}

.tableSubHeader {
    font:  12px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    color: #6D929B;
    border-left: 2px solid #C1DAD7;
    border-right: 2px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    text-align: center;
    word-wrap: break-word;
    text-transform: uppercase;
    text-align: left;
    padding: 3px 3px 3px 3px;
    background: #CAE8EA;
}
.filterMenu {
    font:  12px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    color: #6D929B;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA   no-repeat;
}
.rowOdd {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: #797268;

}

.rowEven {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: #797268;
}
.rollOverRow {

    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #dddddd;
    font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: #797268;
}
.reallySmallText { font-size: x-small } 

.selectedRows {

    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #dddddd;
    font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}