

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF url(../images/cranfield_logo.jpg) no-repeat right top  ;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
    color: royalblue;
}

h1 {
    letter-spacing: -1px;
    font-size: 32px;
}

h2 {
    font-size: 23px;
}

p, ul, ol {
    margin: 0 0 2em 0;
    text-align: justify;
    line-height: 26px;
    font-size: 14px;
}

a:link {
    color: #6DBD0B;
}

a:hover, a:active {
    text-decoration: none;
    color: #6DBD0B;
}

a:visited {
    color: #6DBD0B;
}

img {
    /*	border: 1px dashed #86E714;*/
    padding: 0px;
}

img.left {
    float: left;
    margin-right: 15px;
}

img.right {
    float: right;
    margin-left: 15px;
}

/* Form */

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    display: none;
}

input, textarea, select {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
}

/* Header */

#header {
    width: 1024px;
    height: 33px;
    margin: 0 auto;
}

#puzzle{

    margin: 0 0 0 267px ;
    height: 148px;
    width:130px;
    background:url(./../images/SORF/puz.png) no-repeat top left;
}
#header_upper{


    margin: 0 0 0 110px ;
    height: 80px;
    width: 648px;
    background-color:#666666;
}
#sign-in{
    background: url(./../images/SORF/sign_in_red.jpg) no-repeat bottom right;
    margin: 30px 0 0 465px ;
    height: 46px;
    width: 180px;
    text-align:center;


}
#sign-in a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:40px;
    color:#FFF;


}
/* Menu */

#menu {
    width: 1024px;
    margin: 0;
    padding: 0;
}
#menuItems{
    width: 800px; text-align: justify; padding-left: 100px; line-height: 24px;
}

#menu ul {
    float: right;
    display: block;
    margin: 0;
    padding: 0px 0 0 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    display: inline;
}

#menu a {
    margin-right: 3px;
    padding: 10px 5px 10px 10px;
    letter-spacing: -.5px;
    text-decoration: none;
    text-transform: lowercase;
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

#menu a:hover { 
    text-decoration: none;
    color: #333333;
}

#menu .current_page_item a {
    color: #FFFFFF;
}

#menu .numbertxt {
    font-size: 28px;
    color: white;
}
#menu.numbertxt a:hover {
    font-size: 28px;
    color: red;
}

#menu span {
    margin: 0;
    padding: 0;
}
/**HOME PAGE ITEMS
/* Menu */

#homeItems {
    margin: 0;
    padding: 0;
}

#homeItems ul {
   
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 12px;
    color: white;
}

#homeItems li {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px dotted #D1D1D1;
}
#homeItems h2 {
    color: white;
}
#homeItems a {
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
    letter-spacing: -.5px;
    text-decoration: none;
    text-transform: lowercase;
    font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif; line-height: 10px; color: white;
    

}

#homeItems a:hover { 
    text-decoration: none;
    color: red;
}

#homeItems .current_page_item a {
    color: #7D7D7D;
}

#homeItems .numbertxt {
    font-size: 14px;
    color: #C4F28D;
}

#homeItems span {
    margin: 0;

}

/** LOGO */

#logo {
    clear: both;
    width: 1024px;
    height: 129px;
    margin: 0 auto;
    background: url(./../images/SORF/Symbiosis_logo.jpg) no-repeat left top;
    background-color:#FFF;
}

#logo h1, #logo h2 {
    margin: 0;
    padding: 0 0 0 75px;
    line-height: normal;
}

#logo h1 { }

#logo h1 a {
    text-decoration: none;
    color: #FFFFFF;
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {

    float:left;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    color: #66B209;
}

#logo p a {
    text-decoration: none;
}

#logo p a:hover { text-decoration: underline; }



/* Page */

#page {
    width: 1024px;
    margin: 0 auto;
    background-color:#FFF;

}


/* Content */

#content {
    float: right;
    width: 700px;
    margin: 0 auto;
}

/* Post */

.post {
    padding: 15px 15px;
}


.post .title {
    text-align: left;
    padding-left: 50px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #D1D1D1;
    background: url(./../images/SORF/img04.jpg) repeat-x left bottom;
}

.post .entry {
}

.post .meta {
    height: 70px;
    padding: 40px 15px 0px 15px;
    background: url(./../images/SORF/img03.jpg) repeat-x left top;
}

.post .meta p {
    margin: 0;
    line-height: normal;
    color: #999999;
}

.post .meta .byline {
    float: left;
}

.post .meta .links {
    float: right;
}

.post .meta .more {
    padding: 0 20px 0 18px;
    background: url(./../images/SORF/img09.gif) no-repeat left 50%;
}

.post .meta .comments {
    padding-left: 22px;
    background: url(./../images/SORF/img08.gif) no-repeat left 50%;
}

.post .meta b {
    display: none;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 215px;
    color: red;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin-bottom: 40px;
}

#sidebar li ul {
    background: url(./../images/SORF/img03.jpg) repeat-x left bottom;
    padding-bottom: 20px;
}

#sidebar li li {
    margin: 0;
    padding-left: 12px;
}

#sidebar h2 {
    padding-top: 20px;
    margin-bottom: 10px;
    background: url(./../images/SORF/img04.jpg) repeat-x left bottom;
    border-bottom: 1px dotted #D1D1D1;
    font-size: 18px;
}

/* Search */

#search {
    background: url(./../images/SORF/img03.jpg) repeat-x left bottom;
    margin-bottom: 20px;
}

#search h2 {
    margin-bottom: 20px;
}

#s {
    width: 115px;
    margin-right: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 3px 0px 3px 15px;
    border: 1px solid #F0F0F0;
}

#x {
    margin-bottom: 20px;
    padding: 3px 3px 3px 3px;
    background: #ECECEC;
    border: none;
    text-transform: lowercase;
    font-size: 11px;
    color: #4F4F4F;
}

/* Boxes */

.box1 {
    padding: 20px;
    background: url(./../images/SORF/img05.gif) no-repeat;
}

.box2 {
    color: #BABABA;
}

.box2 h2 {
    margin-bottom: 15px;
    background: url(./../images/SORF/img10.gif) repeat-x left bottom;
    font-size: 16px;
    color: #FFFFFF;
}

.box2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
    color: #EDEDED;
}

/* Footer */
#footer-wrap {
    width: 860px;
    height: 52px;
    margin: 0 auto;

}

#footer {
    margin: 0 auto;
    height: 52px;
    min-height: 52px;
    padding: 0;

    background: #A0A0A3 url(./../images/SORF/img05.gif) repeat-x left bottom;
}

html>body #footer {
    height: auto;

}

#footer p {
    line-height: 12px;
}

#legal {
    clear: both;
    padding-top: 15px;
    text-align: center;
    color: #FFFFFF;
}

#legal a {
    font-weight: bold;
    color: #FFFFFF;
}
.tableHeader {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    text-align: center;
    word-wrap: break-word;
    color: #333333;
    border-left: 1px solid white;
    border-right: 2px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 6px 6px 6px 12px;
    background: #7D7D7D ;
}

.tableSubHeader {
    font:  12px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    color: #ffffff;
    border-left: 2px solid white;
    border-right: 2px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    text-align: center;
    word-wrap: break-word;
    text-transform: uppercase;
    text-align: left;
    padding: 3px 3px 3px 3px;
    background: #CAE8EA;
}

.filterMenu {
    font:  12px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    color: #6D929B;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA   no-repeat;
}
.rowOdd {
    border-left: 1px solid #797268;
    border-top: 0;
    background: #fff;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: #797268;

}

.rowEven {
    border-left: 1px solid #797268;
    border-top: 0;
    background: #cccccc;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: #797268;
}
.rollOverRow {

    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #dddddd;
    font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: #797268;
}
.reallySmallText { font-size: x-small } 

.selectedRows {

    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #dddddd;
    font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}