<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./../css/mrmaid_new.css" rel="stylesheet" type="text/css" />
        <meta property="og:title" content="Genoverse Cranfield"/> 
        <meta property="og:type" content="website"/>
        <meta property="image" content="./resources/images/mrmaid2beta.png"/>


        <meta property="fb:admins" content="fmohareb"/>


        <title> MRMaid</title>
    </h:head>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7097390-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


    <div id="wrapper">

        <div id="header">
            <div id="logo">
                <h1><a href="http://www.mrmaid.info"> <span>MRMaid</span></a></h1>
                <!--                    <p> <a href="SearchPage.xhtml">Version 2.0 Beta</a></p>-->

            </div>

        </div>

    </div>
    <!-- end #header -->
    <div id="page">
        <ui:insert name="page">

        </ui:insert>
    </div>

    <div id="footer" style="line-height:120%" >
        <h:form id="footerForm">
            
        </h:form>
    </div>
    <!-- end #footer -->


</html>
