<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link href="./../../resources/css/SORF.css" rel="stylesheet" type="text/css" />
        <link href="./../css/SORF.css" rel="stylesheet" type="text/css" />

        <title>SORF | The Symbiosis-EU Online Research Framework</title>
    </h:head>

    <h:body>
        <div id="header">
            <div id="menu">
                <ul>
                    <li><a href="../faces/home.xhtml"><span  class="numbertxt">01&nbsp;</span>Homepage</a></li>
                    <li><a href="../faces/workpackages.xhtml"><span class="numbertxt">02&nbsp;</span>Workpackages</a></li>
                    <li><a href="#"><span class="numbertxt">03&nbsp;</span>Reports</a></li>
                    <li><a href="../faces/publications.xhtml"><span class="numbertxt">04&nbsp;</span>Publications</a></li>
                    <li><a href="../faces/ResearchArea/BrowseExperiments.xhtml"><span class="numbertxt">05&nbsp;</span>Browse Data</a></li>
                    <li><a href="../faces/ResearchArea/AddNewExperiment_1.xhtml"><span class="numbertxt">06&nbsp;</span>Upload Data</a></li>
                    <li class="last"><a href="../faces/ResearchArea/SvmTool.xhtml"><span class="numbertxt">07&nbsp;</span>Analyse</a></li>
                </ul>
            </div>
        </div>
        <div id="logo">
            <a href="#"></a>
            <div id="puzzle" >
                <div id="header_upper">
                    <div id="sign-in"><a href=""  >Sign In</a></div>
                </div>
            </div>
        </div>
        <div id="page" class="page">
            <ui:insert name="page">PAGE</ui:insert>

        </div>


        <div id="footer">
            <div id="footer-wrap">
                <p id="legal">(c) 2011 SORF | Symbiosis-EU.<br/> Designed and implemented by <a href="http://www.cranfield.ac.uk/health/researchareas/bioinformatics/page3201.html">The Bioinformatics Group at Cranfield University</a>.<br/>
                More info.</p>
            </div>
        </div>
    </h:body>

</html>
