.genoverse_panel div {
  white-space: nowrap;
}

.genoverse_panel_top {
  height: 40px;
  background-color: #5F8CB0;
  background-image: linear-gradient(left, #5F8CB0, #4A7496); 
  border-radius: 5px 0 0 0;
  border: 1px solid #1C5380;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);        
  vertical-align: top;
}

.genoverse_panel_right {
  height: 100%;
  background-color: #5F8CB0;
  background-image: -webkit-linear-gradient(left, #5F8CB0, #4A7496);
  background-image: -moz-linear-gradient(left center, #5F8CB0, #4A7496);
  border-radius: 0 5px 5px 0;
  border: 1px solid #1C5380!important;
  border-left: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);        
  vertical-align: top;
}

.genoverse_panel button {
  background: none;
  border: none;
  border-bottom: 1px solid #1C5380;
  color: #E2E9EF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  width: 30px;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  padding: 2px;
  font-family: Tahoma;
}

.canvas_container .gv_wrapper {
  border-width: 1px 0 1px 1px;
}

.genoverse_panel button:only-child {
  width: 100%;
}

.genoverse_panel div.button_set>button:not(:first-child) {
  border-left: 1px solid #1C5380;
}

.genoverse_panel div.button_set:not(:first-child)>button {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.12) inset;        
}

.genoverse_panel div.button_set:last-child {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12);
}

.genoverse_panel button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  cursor: pointer;
}

.genoverse_panel button:active, .genoverse_panel button.active {
  border-top: none;
  background-color: rgba(6, 54, 95, 0.35);
  box-shadow: 0 0 1px rgba(6, 54, 95, 0.8) inset !important;        
}

.genoverse td {
  padding: 0;
  color: white;
  border: none;
}

.genoverse>table {
  width: auto;
  border: none;
}

.tracksMenu td {
  padding: 5px!important;
  vertical-align: top;
  width: 50%;
}

.tracksMenu tr:first-child td {
  font-weight: bold;
  font-size: 1.2em;
}


.tracksMenu .removeTrack,
.tracksMenu .addTrack {
  -moz-user-select: none;
  background-color: #CCCCCC;
  border-radius: 3px;
  color: #2E2E2E;
  cursor: pointer;
  display: inline-block;
  font-family: Comic Sans MS;
  font-size: 13px;
  font-weight: bold;
  height: 15px;
  line-height: 12px;
  margin: 3px 5px 0 0;
  padding: 0 0 0 1px;
  text-align: center;
  text-shadow: 1px 1px 0 #F5F5F5;
  width: 18px;
}

.tracksMenu .removeTrack:hover,
.tracksMenu .addTrack:hover {
  background-color: #FFF;
  box-shadow: 0px 0px 5px #FFFFFF;
}

.gv_karyotype_container {
  height:50px;
  overflow:hidden;
  box-shadow: inset 0px 0px 33px -7px rgba(24, 36, 56, 0.97), inset 1px 1px 1px 0px black;
}