.wrap {
  margin: 10px auto;
  width: 1000px;
}

ul.label_container {
  background-color: #5F8CB0;
  background-image: -moz-linear-gradient(right center , #5F8CB0, #4A7496); 
  background-image: -webkit-linear-gradient(right, #5F8CB0, #4A7496);
  border-radius: 5px 0 0 5px;
  border: 1px solid #1C5380;
  border-right: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);        
  width: 90px;
}

.canvas_container {
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.canvas_container .gv_wrapper {
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.canvas_container .gv_wrapper .overlay {
  position: absolute;
  height: 100%;
  z-index: 10;
  background: url(../i/loadingBG.png) repeat #ccc;
}

.canvas_container .gv_wrapper .overlay.track {
  background-position: center;
  background-repeat: repeat-x;
}

.canvas_container canvas {
  display: none;
}

.canvas_container .track_container,
.canvas_container .track_container_static {
  overflow: visible;
  position: relative;
}

.canvas_container .track_container_static .image_container,
.canvas_container .track_container_static img {
  background: #FFF;
  z-index: 1;
}

.track_container.partially_hidden + .track_container {
  box-shadow: 0 -4px 5px 2px rgba(0, 0, 0, 0.5);
}

.canvas_container .track_container .scroll_container {
  overflow: visible;
  position: relative;
  width: 0;
  height: 100%;
}

.canvas_container .message_container { 
  position: absolute; 
  top: 0; 
  left: -1px; 
  display: none; 
  background: rgba(0, 0, 0, 0.5);
  color: #FFF; 
  border-radius: 0 0 2px 0;
  padding: 5px; 
  margin-bottom: 4px; 
  z-index: 11;
  font-family: Verdana; 
  font-size: 12px; 
  font-weight: bold;
}

.canvas_container .message_container:hover { 
  background: rgba(0, 0, 0, 0.7);
}

.canvas_container .message_container .messages { 
  float: right; 
  padding-right: 10px; 
  padding-left: 15px; 
  margin-bottom: -6px; 
}

.canvas_container .message_container .msg { 
  margin-bottom: 6px; 
}

.canvas_container .message_container .control {
  position: absolute; 
  top: 50%; 
  height: 14px;
  margin-top: -7px; 
  font-size: 12px; 
  cursor: pointer; 
}

.canvas_container .message_container .control:hover      { text-decoration: underline; }
.canvas_container .message_container .expand,
.canvas_container .message_container.collapsed .messages,
.canvas_container .message_container.collapsed .collapse { display: none; }
.canvas_container .message_container.collapsed .expand   { display: inline; position: relative; }



.canvas_container .image_container {
  height: 100%;
  overflow-x: visible;
  overflow-y: hidden;
  position: absolute;
  /*background: #ccc;*/
  margin: 0;
}

.canvas_container .image_container.fullHeight {
  overflow-y: visible;
}

.canvas_container .image_container.loading {
  background: rgba(204,204,204,0.4);
}

.canvas_container .image_container img {
  /*display: none;*/
  position: absolute;
  z-index: 1;
}

.canvas_container .image_container img.data {
  max-width: none;
}

/*.canvas_container .image_container img.data {
  display:none;
}*/

.canvas_container .image_container img.bg {
  display: block;
  z-index: 0;
  width: 100%;
}

.canvas_container .image_container img.fullHeight {
  z-index: 0;
}

.canvas_container .image_container img.guidelines {
  z-index: 1;
}

.canvas_container .image_container img.static {
  display: block;
  top: 50%;
}

.canvas_container .height_toggler {
  display: none;
}

.canvas_container .label_container {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.canvas_container .label_container li {
  position: relative;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-image: none;
  white-space: nowrap;
  overflow: hidden;
}

.canvas_container .label_container li .handle {
  position: relative;
  background-image: url(../i/Grabbar.png);
  cursor: move;
  display: inline-block;
  height: 90%;
  margin: 8px 0;
  width: 10px;
  opacity: 0.7;
}

li.sortHandle {
  background-color: rgba(6, 54, 95, 0.35);
}

.canvas_container .label_container li:not(:first-child) {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12) inset, 0 -1px 0 #38688F inset
}

.canvas_container .label_container li .name {
  display: inline-block;
  position: relative; 
  overflow: hidden;
  vertical-align: top;
  margin: 8px 0;
  left: 5px; 
  width: 90%;
  color: #F2F5F7;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  text-overflow: ellipsis;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana;
  white-space: pre-wrap;
}

.canvas_container .label_container li.unsortable .name {
  left: 15px;
}

.canvas_container .menu_container {
  display: none;
  position: absolute;
  height: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.track_container .track_border {
  position: absolute;
  display: block;
  height: 1px;
  border-bottom: 1px solid #CCCCCC;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.track_container.fullHeight .track_border {
  border: none;
}

.canvas_container .expander {
  position: absolute;
  display: block;
  height: 15px;
  margin-left: -5px;
  padding-right: 10px;
  box-shadow: 0 -5px 7px -3px #000000 inset;
  cursor: pointer;
  z-index: 1;
  bottom: 0;
}

.canvas_container .expander:hover {
  box-shadow: 0 -5px 7px -3px #7D98B8 inset;
}

.canvas_zoom         { position: absolute; display: none; z-index: 20; }
.canvas_zoom.i       { width: 40px; height: 40px; }
.canvas_zoom.o       { width: 80px; height: 80px; }
.canvas_zoom .h      { position: absolute; height: 2px;  width: 10px; background: red; }
.canvas_zoom .v      { position: absolute; height: 10px; width: 2px;  background: red; }
.canvas_zoom .r      { right:  0;    }
.canvas_zoom .b      { bottom: 0;    }
.canvas_zoom.o .t.h  { top:    10px; }
.canvas_zoom.o .b.h  { bottom: 10px; }
.canvas_zoom.o .l.v  { left:   8px;  }
.canvas_zoom.o .r.v  { right:  8px;  }

.gv_menu {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 12px 12px 12px;
  color: white;
  min-width: 200px;
  padding: 0;
  position: absolute;
  z-index: 20;
  box-shadow: 3px 3px 10px #666666;
  margin-left: 5px;  
}

.gv_menu table td {
  color: white;
}

.gv_menu a {
  color: white;
}

.gv_menu table {
  width: 80%;
  margin: 0 15% 0 0;
  color: white;
  font-family: monospace;
  font-size: 12px;
  padding: 10px;
  border: none;
}

.gv_menu table th, .gv_menu table td {
  color: white;
  padding: 0;
  border: none
}

.gv_menu table .title {
  font-weight: bold;
  text-align: left;
}

.gv_menu:not(.trackSelection) table td {
  /*width: 50%;*/
  padding: 0 1em 0 0;
}

.gv_menu>.close {
  float: right;
}

.gv_menu .close {
  background-color: #CCCCCC;
  border-radius : 20px;
  height        : 20px;
  width         : 20px;
  line-height   : 17px;
  font-size     : 13px;
  font-family   : Comic Sans MS;
  font-weight   : bold;
  color: #2E2E2E;
  text-shadow : #F5F5F5 1px 1px 0px;
  cursor: pointer;
  padding: 0 0 0 1px;
  text-align: center;
  margin: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

.gv_menu .close:hover {
  background-color: #FFF;
  box-shadow: 0px 0px 5px #FFFFFF;
}

.selector {
  position: absolute;
  display: none;
  height: 100%;
  border: 1px dashed red;
  background-color: rgba(229, 121, 5, 0.1);
  top: 0;
  margin-left: -1px;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.selector.crosshair {
  border-width: 0 0 0 1px;
}

.selector_controls {
  display: none;
  width: 100px;
  position: relative;
  top: 50%;
}

.selector_controls button {
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  box-shadow: 3px 3px 10px #666666;
  color: white;
  z-index: 11;
}