<br/><br/>
<h2> Info EFF Key</h2>
<ul>
    <li>Effect (Effect_Impact | Functional_Class | Codon_Change | Amino_Acid_change| Amino_Acid_length | Gene_Name | Gene_BioType | Coding | Transcript | Exon | GenotypeNum)
    </li>
</ul>

<p>    
<h2>SAMTOOLS Info General Key</h2>
<ul>
    <li>DP:	Raw read depth</li>
    <li>DP4: high-quality ref-forward bases, ref-reverse, alt-forward and alt-reverse bases</li>
    <li>MQ:	Root-mean-square mapping quality of covering reads</li>
    <li>FQ:	Phred probability of all samples being the same</li>
    <li>AF1:	Max-likelihood estimate of the first ALT allele frequency (assuming HWE)</li>
    <li>AC1:	Max-likelihood estimate of the first ALT allele count (no HWE assumption)</li>
    <li>IS:	Maximum number of reads supporting an indel and fraction of indel reads</li>
    <li>PV4:	P-values for strand bias, baseQ bias, mapQ bias and tail distance bias</li>
    <li>INDEL:	Indicates that the variant is an INDEL</li>
    <li>VDB:	Variant Distance Bias (v2) for filtering splice-site artefacts in RNA-seq data</li>
    <li>RPB:	Read Position Bias</li>
</ul>
</p>
<p>
<h2>SAMTOOLS Format Key</h2>
<ul>
<li>GT:	Genotype</li>
<li>GQ:	Genotype Quality</li>
<li>GL:	Likelihoods for RR,RA,AA genotypes (R=ref,A=alt)</li>
<li>DP:	# high-quality bases</li>
<li>DV:	# high-quality non-reference bases</li>
<li>SP:	Phred-scaled strand bias P-value</li>
<li>PL:	List of Phred-scaled genotype likelihoods</li>

</ul>
</p>