<p/>

<h1>Cranfield GenoVerse Data Browser</h1>
<h2><i>Solanum lycopersicum</i> SL2.50 - <i>Solanum chilense</i> variant calling</h2>
<p>

</p>
<p>
    <a href="?r=1:1-98543444">| Chromosome 1 |</a>
    <a href="?r=2:1-55340444"> Chromosome 2 |</a>
    <a href="?r=3:1-70787664"> Chromosome 3 |</a>
    <a href="?r=4:1-66470942"> Chromosome 4 |</a>
    <a href="?r=5:1-65875088"> Chromosome 5 |</a>
    <a href="?r=6:1-49751636"> Chromosome 6 |</a>
    <a href="?r=7:1-68045021"> Chromosome 7 |</a>
    <a href="?r=8:1-65866657"> Chromosome 8 |</a>
    <a href="?r=9:1-72482091"> Chromosome 9 |</a>
    <a href="?r=10:1-65527505"> Chromosome 10 |</a>
    <a href="?r=11:1-56302525"> Chromosome 11 |</a>
    <a href="?r=12:1-67145203"> Chromosome 12 |</a>
    
    <!--<a href="?r=1:1-1000000">| Chromosome 1 |</a>
    <a href="?r=2:1-1000000"> Chromosome 2 |</a>
    <a href="?r=3:1-1000000"> Chromosome 3 |</a>
    <a href="?r=4:1-1000000"> Chromosome 4 |</a>
    <a href="?r=5:1-1000000"> Chromosome 5 |</a>
    <a href="?r=6:1-1000000"> Chromosome 6 |</a>
    <a href="?r=7:1-1000000"> Chromosome 7 |</a>
    <a href="?r=8:1-1000000"> Chromosome 8 |</a>
    <a href="?r=9:1-1000000"> Chromosome 9 |</a>
    <a href="?r=10:1-1000000"> Chromosome 10 |</a>
    <a href="?r=11:1-1000000"> Chromosome 11 |</a>
    <a href="?r=12:1-1000000"> Chromosome 12 |</a>-->
</p>